name: dev CI

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev, master ]

  schedule:
    - cron: "30 18 * * *" # run at 00:00 AM IST

jobs:
  g8:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout CSW repo
        uses: actions/checkout@v2
        with:
          repository: tmtsoftware/csw

      - uses: olafurpg/setup-scala@v10
        with:
          java-version: adopt@1.11

      - name: Cache ~/.cache
        uses: actions/cache@v1
        with:
          path: ~/.cache
          key: ${{ runner.os }}-coursier-${{ hashFiles('project/Libs.scala') }}
          restore-keys: |
            ${{ runner.os }}-coursier-

      - name: Cache ~/.sbt
        uses: actions/cache@v1
        with:
          path: ~/.sbt
          key: ${{ runner.os }}-sbt-${{ hashFiles('project/build.properties') }}
          restore-keys: |
            ${{ runner.os }}-sbt-

      - name: Publish Local
        run: sbt clean publishLocal

      - name: Install CS native
        run: |
          curl -fLo cs https://git.io/coursier-cli-linux
          chmod +x cs
          sudo mv cs /usr/local/bin

      - name: Install giter8
        run: |
          cs install giter8
          sudo mv /home/runner/.local/share/coursier/bin/g8 /usr/local/bin
          cd /usr/local/bin
          chmod +x g8
          
      - name: Extract branch name (Trigger - PR)
        if: github.event_name == 'pull_request'
        run: echo "BRANCH_NAME=$(echo ${GITHUB_HEAD_REF})" >> $GITHUB_ENV

      - name: Extract branch name (Trigger - Push)
        if: github.event_name != 'pull_request'
        shell: bash
        run: echo "BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/})" >> $GITHUB_ENV
        id: extract_branch
        
      - name: Set branch name (trigger - Schedule)
        if: github.event_name == 'schedule'
        run: echo "BRANCH_NAME=dev" >> $GITHUB_ENV

      - name: Giter8 Compile
        run: |
          echo "Running build for branch ${BRANCH_NAME}"
          g8 tmtsoftware/csw.g8 --name=galil --csw_version='0.1.0-SNAPSHOT' --branch ${BRANCH_NAME}
          cd galil
          sbt clean test

      - name: Notify slack
        if: always()
        continue-on-error: true
        uses: kpritam/slack-job-status-action@v1
        with:
          job-status: ${{ job.status }}
          slack-bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel: ci-dev
